---
import { cn } from '@/lib/utils'
import ProjectsHeader from './projects-header.astro'
import ProjectsGrid from './projects-grid.astro'

const { class: className, ...props } = Astro.props
---

<section class={cn('w-full', className)} {...props}>
  <div id="projects-section" class="container space-y-12 px-4 md:px-6">
    <ProjectsHeader />
    <ProjectsGrid />
  </div>
</section>

<script>
  import { animate, inView } from 'motion'

  const projectsSection = document.getElementById('projects-section')
  const projectsTitle = document.getElementById('projects-title')
  const projectsDescription = document.getElementById('projects-description')
  const projectsTag = document.getElementById('projects-tag')
  const main = document.querySelector('main')

  if (projectsSection && projectsTitle && projectsDescription && projectsTag && main) {
    inView(main, () => {
      animate(
        projectsTitle,
        { opacity: [0, 1], y: [20, 0] },
        { duration: 0.5, delay: 0.2 },
      )

      animate(
        projectsDescription,
        { opacity: [0, 1], y: [20, 0] },
        { duration: 0.5, delay: 0.3 },
      )

      animate(
        projectsTag,
        { opacity: [0, 1], y: [20, 0] },
        { duration: 0.5, delay: 0.3 },
      )
    })
  }
</script>
