---
import ProjectCard from './project-card.astro'
import { useProjectsArray } from './projects.astro'
const projects = useProjectsArray()
---

<div
  id="projects-grid"
  class="columns-1 gap-6 space-y-6 sm:columns-2 lg:columns-3"
>
  {
    projects.map((project, index) => (
      <ProjectCard project={project} index={index} />
    ))
  }
</div>

<script>
  import { animate, inView, stagger } from 'motion'

  const projectsGrid = document.getElementById('projects-grid')
  const projectCards = document.querySelectorAll('.project-card')
  const main = document.querySelector('main')

  if (projectsGrid && projectCards && main) {
    const totalDuration = 1.5
    const individualDuration = 0.5
    const delayBetweenElements =
      (totalDuration - individualDuration) / projectCards.length

    inView(main, () => {
      animate(projectsGrid, { opacity: [0, 1] }, { delay: 0.3, duration: 0.6 })

      animate(
        Array.from(projectCards),
        { opacity: [0, 1], y: [20, 0] },
        { duration: individualDuration, delay: stagger(delayBetweenElements) }
      )
    })
  }
</script>
