<div class="flex flex-col items-center justify-center space-y-4 text-center">
  <div class="space-y-2">
    <div
      id="projects-tag"
      class="inline-block animate-fade-up rounded-lg bg-muted px-3 py-1 text-sm duration-700"
    >
      Featured Projects
    </div>
    <h2
      id="projects-title"
      class="animate-fade-up text-3xl font-bold tracking-tighter sm:text-5xl"
    >
      My Work
    </h2>
    <p
      id="projects-description"
      class="max-w-[900px] animate-fade-up text-muted-foreground duration-700 md:text-xl/relaxed lg:text-base/relaxed xl:text-xl/relaxed"
    >
      Check out some of the projects I've worked on during my time at the
      university.
    </p>
  </div>
</div>
