---
import { cn } from '@/lib/utils'
import AnimatedLinks from './animated-links.astro'

const { class: className, animation = true, ...props } = Astro.props
---

<div
  class={cn('flex flex-col items-center gap-6 text-center', className)}
  {...props}
>
  <div class="space-y-2">
    <h1
      class="animate-fade-up text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl lg:text-6xl/none"
    >
      Shintaro Jokagi
    </h1>
    <p
      class="mx-auto max-w-[700px] animate-fade-up text-muted-foreground duration-700 md:text-xl"
    >
      Passionate university student, aspiring software engineer, and open-source
      contributor.
    </p>
  </div>
  <AnimatedLinks />
</div>
