---
import HeroDisplay from './hero-display.astro'
import styles from './hero.module.css'

const { class: className, ...props } = Astro.props
---

<section class={styles.hero} {...props}>
  <div class={styles.hero__container}>
    <HeroDisplay />
  </div>
</section>
