---
import { cn } from '@/lib/utils'
import SkillCategory from './skill-category.astro'
import { categories } from './skills.astro'

const { class: className, ...props } = Astro.props
---

<section
  class={cn(
    'w-full bg-gradient-to-b from-background to-secondary/20 py-16',
    className
  )}
  {...props}
>
  <div id="skills-section" class="container px-4 md:px-6">
    <div
      class="flex flex-col items-center justify-center space-y-8 text-center"
    >
      <div class="space-y-4">
        <h2
          id="skills-title"
          class="text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl"
        >
          Technical Expertise
        </h2>
        <p
          id="skills-description"
          class="max-w-[800px] text-xl text-muted-foreground md:text-2xl/relaxed"
        >
          Discover the diverse range of skills I've mastered to bring innovative
          ideas to life.
        </p>
      </div>
      <div
        id="skills-grid"
        class="grid w-full max-w-6xl grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-4"
      >
        {
          categories.map((category) => (
            <SkillCategory title={category.title} skills={category.skills} />
          ))
        }
      </div>
    </div>
  </div>
</section>

<script>
  import { animate, stagger, inView } from 'motion'

  const skillsSection = document.getElementById('skills-section')
  const skillsTitle = document.getElementById('skills-title')
  const skillsDescription = document.getElementById('skills-description')
  const skillsGrid = document.getElementById('skills-grid')
  const main = document.querySelector('main')

  if (skillsSection && skillsTitle && skillsDescription && skillsGrid && main) {
    inView(main, () => {
      animate(
        skillsTitle,
        { opacity: [0, 1], y: [20, 0] },
        { duration: 0.5, delay: 0.2 }
      )

      animate(
        skillsDescription,
        { opacity: [0, 1], y: [20, 0] },
        { duration: 0.5, delay: 0.3 }
      )

      animate(
        Array.from(skillsGrid.children),
        { opacity: [0, 1], y: [20, 0] },
        { duration: 0.5, delay: stagger(0.3) }
      )
    })
  }
</script>
