---
import { getUI } from '@/utils/i18n.astro'
import SkillItem from './skill-item.astro'
import { getImage } from './skills.astro'

const { lang } = Astro.params
const { skills } = getUI(lang)

interface Props {
  title: string
  key: string
}

const { title, key } = Astro.props
---

<div
  class="animate-fade-up space-y-6 rounded-xl border border-primary/10 bg-card p-8 shadow-lg transition-all duration-300 hover:scale-105 hover:shadow-xl"
>
  <h3 class="text-2xl font-bold text-primary">{title}</h3>
  <div class="grid gap-4">
    {
      Object.values(skills[key as keyof typeof skills].items).map((skill) => (
        <SkillItem image={getImage(skill)} label={skill} />
      ))
    }
  </div>
</div>
