---
import { getUI } from '@/utils/i18n.astro'
import styles from './footer.module.css'

const currentYear = new Date().getFullYear()

const { lang } = Astro.params

const {
  sections: { footer },
} = getUI(lang)
---

<footer class={styles.footer}>
  <p class={styles.footer__text}>
    {footer.copyright.replace('{year}', currentYear.toString())}
  </p>
</footer>
