---
const currentYear = new Date().getFullYear()
---

<footer class="px-4 py-6 text-center lg:px-6">
  <p class="text-muted-foreground">
    &copy; {currentYear} Shintaro Jokagi. All rights reserved.
  </p>
</footer>
