---
import { getPath } from '@/utils/i18n.astro'
import { Globe } from 'lucide-astro'
import styles from './lang-toggle.module.css'

const { lang } = Astro.params
const currentPath = Astro.url.pathname

const isJapanese = lang === 'ja'

const targetPath = isJapanese
  ? currentPath.replace('/ja', '')
  : getPath(currentPath, 'ja')
---

<a
  href={targetPath}
  class={styles['lang-toggle']}
  aria-label={`Switch to ${isJapanese ? 'English' : 'Japanese'}`}
>
  <Globe />
</a>
