---
import ArrowUpIcon from './icons/arrow-up-icon.astro'
import styles from './scroll-up.module.css'
---

<button
  id="scroll-up"
  class={styles['scroll-up']}
  aria-label="Scroll to top"
  data-visible="false"
>
  <ArrowUpIcon class={styles.scroll_up__icon} />
</button>

<script>
  const scrollTopButton = document.getElementById('scroll-up')

  const handleScroll = () => {
    const scrollY = window.scrollY
    const scrollHeight = document.documentElement.scrollHeight
    const clientHeight = document.documentElement.clientHeight
    const atBottom = scrollY + clientHeight >= scrollHeight - 1
    const isMobile = window.innerWidth <= 500

    if (scrollY > 300 && scrollTopButton) {
      scrollTopButton.setAttribute('data-visible', 'true')
      if (atBottom && isMobile) {
        scrollTopButton.setAttribute('data-bottom', 'true')
      } else {
        scrollTopButton.setAttribute('data-bottom', 'false')
      }
    } else if (scrollTopButton) {
      scrollTopButton.setAttribute('data-visible', 'false')
    }
  }

  if (scrollTopButton) {
    window.addEventListener('scroll', handleScroll)
    handleScroll()

    scrollTopButton.addEventListener('click', () => {
      window.scrollTo({
        top: 0,
        behavior: 'smooth',
      })
    })
  }
</script>
